.root {
  display: grid;
  grid-template-columns: 300px 1fr;
  position: relative;
  height: 100%;
}

.windowRoot {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
}
