.root {
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 1;
}

.arrow {
  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}
