.root {
  @include content;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-block: var(--mobile-padding-block);
}

.nav {
  display: flex;
  gap: 1rem;
}
