.root {
  display: flex;
  flex-direction: column;
}

.dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 60px;
  padding-right: 12px;
  padding-block: 14px;

  font-size: 14px;

  &:hover {
    background-color: var(--asc-hovered-field);
  }

  & span {
    position: absolute;

    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--asc-bg-span);

    left: 12px;
    bottom: 12px;
  }
}

.dialog.selected {
  background-color: var(--asc-selected-field);
}

.message {
  text-wrap: nowrap;
  color: var(--asc-message-text);
  text-overflow: ellipsis;
  overflow: hidden;
}
