.root {
  @include desktop-w {
    display: flex;
    flex-direction: column;
  }
}

.visibleImage {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.slider {
  @include desktop-w {
    display: flex;
    border-radius: var(--mobile-border-radius);
    border: 2px solid var(--asc-text-attention);

    justify-content: space-between;
  }
}
